./embeddings_d2v_unwe_sans/*
./embeddings_d2v_we_sans/*  
./embeddings_lsa_sans/*
./embeddings_lsa_grif/*
./embeddings_lsa_jemison/*
./grif_d2v_unwe/*
./grif_d2v_we/*
./jemison_d2v_unwe/*
./jemison_d2v_we/*




./__pycache__/*
.DS_Store
.vscode/*
.env
.ipynb_checkpoints/*
.idea/*
*.pyc
*.pyo
*.pyd
__pycache__/
*.swp
*.swo
*.egg-info/
dist/
build/
.eggs/
*.egg
*.log
pip-log.txt
